*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
}
:root{
    --primary: #FFFAEC;
    --secondary: #F5ECD5;
    --tertiary: #578E7E;
    --typo: #171717;

}

/*-----navigation---- */
nav{
    background-color: var(--secondary);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 36px;
    color: var(--typo);
    fill: var(--typo);
}
figure{
    width: 24px;
    margin-left:auto;
}

/*----main----*/

.hero{
    background-color: var(--typo);
    background-position: 100% 0%;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70dvh;
    height: 70vh;
    width: 100%;
    position: relative;
    z-index: 2;
}

.hero :where(.name, .position){
    position: relative;
    z-index: 2;
}
.hero::before{
    content: '';
    position: absolute;
    width: 8em;
    height: 5em;
    top: 35%;
    left: 50%;
    opacity: 0.15;
    border-top-right-radius:70px ;
    border-top-left-radius:30px ;
    border-bottom-left-radius:60px ;
    border-bottom-right-radius:30px ;
    background-color: var(--primary);
    transition: 0.3s ease;
}
.hero::after{
    content: '';
    position: absolute;
    width: 8em;
    height: 5em;
    top: 50%;
    left: 35%;
    opacity: 0.15;
    border-top-right-radius:70px ;
    border-top-left-radius:30px ;
    border-bottom-left-radius:60px ;
    border-bottom-right-radius:30px ;
    background-color: var(--primary);
    transition: 0.3s ease;
}
.hero:hover::after, .hero:hover::before {
    transform: scale(1.5) rotate(180deg);
}
 .hero:hover::before {
    top:50%;
    left: 35%;
}
 .hero:hover::after {
    left:50%;
    top: 35%;
}
.name{
    font-weight: 100;
    opacity: 0.8;
    font-size: 1.4rem;
    letter-spacing: 0.25rem;
}
.position{
    font-weight: 500;
    font-size: 2.3rem;
    margin-top: 1rem;
}
.name::before, .position:before{
    content: '';
    width: 2rem;
    height: 5rem;
    background-color: var(--primary);
    opacity: 0.15;
    position: absolute;
    border-top-left-radius: 2em;
    border-top-right-radius:1.8em;
    border-bottom-right-radius: 1.8em;
    border-bottom-left-radius: 2.5em;
    transition: 0.3s ease;
}
.name::before{
    top: -5em;
    left:-8rem;
}
.position::before{
    bottom: -2.5em;
    right:-3.5em;
}
.name:hover::before{
    top: 0;
    left: -5%;
    width: 110%;
    height: 110%;
    border-radius: 5px;
}
.position:hover::before{
    bottom: 0;
    right: -5%;
    width: 110%;
    height: 110%;
    border-radius: 5px;
}
