* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #003049;
    --red: #d62828;
    --orange: #f77f00;
    --yellow: #fcbf49;
    --white: #fffadd;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--red);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

body {
    background-color: var(--white);
    font-family: "Ubuntu", sans-serif;
    color: var(--blue);
}

nav {
    position: fixed;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--red);
    z-index: 100;
    padding: 10px 10% 10px 10%;
}

.logo>svg:hover {
    cursor: pointer;
}

.quotes {
    color: var(--white);
    font-family: "Jersey 25 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 40%;
    text-align: center;
}

.buttons {
    display: flex;
    color: var(--white);
}

.buttons .scroll-to-projects,
.buttons .scroll-to-experience {
    all: unset;
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--white);
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

.buttons .scroll-to-projects:hover,
.buttons .scroll-to-experience:hover {
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
}

.buttons .scroll-to-experience {
    border-radius: 0 5px 5px 0;
    margin-left: -1px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.social-icons a {
    all: unset;
}

.social-icons svg {
    fill: var(--white);
    filter: none;
    transition: all 0.3s ease-in-out;
}

.social-icons svg:hover {
    fill: var(--blue);
    cursor: pointer;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 6% 10% 50px 10%;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.information img {
    mix-blend-mode: multiply;
    animation: imageAnimation 5s ease-in-out infinite alternate;
}

@keyframes imageAnimation {
    0% {
        translate: 0 10px;
    }

    100% {
        translate: 0 -10px;
    }
}

.position {
    display: flex;
    align-items: center;
    gap: 16px;
}

.skills {
    display: flex;
    gap: 32px;
    line-height: 12px;
    background-color: var(--yellow);
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid var(--red);
    transition: all 0.3s ease;
}

.skills:hover {
    box-shadow: 1px 1px 10px var(--blue);
    border: 1px solid var(--white);
    cursor: pointer;
}

.skills .react {
    animation: rollAnimation 5s linear infinite;
}

@keyframes rollAnimation {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);
    }
}

.skills .js {
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transform-origin: center center;
    perspective: 1000px;
    /* Adjust for desired depth */
}

.skills .html {
    animation: htmlAnimation 3s linear infinite alternate;
}

@keyframes htmlAnimation {
    0% {
        transform: rotateY(30deg);
    }

    100% {
        transform: rotateY(60deg);
    }
}

.skills .git {
    animation: rollAnimation 5s linear infinite;
}

.hero-image {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 1px);
    animation: heroAnimation 5s ease-in-out infinite alternate;
}

@keyframes heroAnimation {
    0% {
        box-shadow: 8px 0 10px;
        translate: 0 0;
        border: 2px groove var(--white);

    }

    100% {
        box-shadow: -8px 0px 10px;
        translate: -50px 0;
        border: 2px inset var(--white);


    }
}

.hero-image>img {
    height: 350px;
    object-fit: cover;
}

.projects-container {
    padding: 50px 0 50px 0;
    margin: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-top: 1px solid var(--blue);
}

.projects-header {
    text-decoration: underline;
}

.project-card-container {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.project-card-container:nth-child(even) {
    flex-direction: row-reverse;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.project-card img {
    mix-blend-mode: multiply;
    z-index: 1;
}

.social-app:hover,
.wordpress-app:hover,
.portfolio-site:hover {
    border: 1px solid var(--white);
    cursor: pointer;
    box-shadow: 0px 0px 3px var(--blue);
}
.hover-filter{
    filter: invert(100%);
}

.social-app,
.wordpress-app,
.portfolio-site {
    background-color: var(--yellow);
    padding: 16px 32px;
    border-radius: 5px;
    border: 1px solid var(--red);
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    height: fit-content;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.project-name {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 5px 10px;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.project-name:hover {
    background-color: var(--white);
    border-radius: 8px;
    cursor: pointer;
}

.experience-container {
    margin: 0 10% 0 10%;
    padding: 50px 0 50px 0;
    border-top: 1px solid var(--blue);
}

.experience-header {
    text-decoration: underline;
    margin-bottom: 24px;
}

.experience-content-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.experience-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    line-height: 24px;
}

.workplace>img {
    mix-blend-mode: multiply;
}