/*desktop view full screen*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #008080;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-repeat: repeat-y;
    height: auto;
}

.introduction {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.edu h2,
.skill h2,
.description h2,
.project h2,
.contact-link h2 {
    margin-bottom: 20px;
}

.description {
    width: auto;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(12px);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 20px 20px 0px 20px;
    padding: 10px 10px 10px 10px;
    word-spacing: 0.2cm;
    line-height: 20px;
    box-shadow: 0px 0px 1px 1px white;
}

.description:hover,
.edu:hover,
.info-contact:hover,
.skill:hover,
.project:hover,
.contact-link:hover {
    box-shadow: 0px 0px 10px #000;
    transition: 0.3s ease-in-out;
}

.info-contact {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(12px);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 10px 0px 10px;
    align-items: center;
    box-shadow: 0px 0px 1px 1px white;
}

.info h1 {
    text-align: center;
}

.info hr {
    width: auto;
    height: 1px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border: 1px solid white;

}

.contact {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
}

.contact span {
    padding-top: 5px;
}

.edu-skill {
    display: flex;
    flex-direction: row;
}

.edu {
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(12px);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 10px 0px 10px;
    box-shadow: 0px 0px 1px 1px white;
    position: relative;
}


.edu p {
    padding-bottom: 15px;
}

.skill {
    width: 20%;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(12px);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 20px 20px 0px 20px;
    padding: 10px 10px 10px 10px;
    word-spacing: 0.2cm;
    box-shadow: 0px 0px 1px 1px white;
    position: relative;

}

ul li {
    list-style: none;
    line-height: 22px;
}

.project {
    width: 85%;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(12px);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 10px 0px 10px;
    word-spacing: 0.2cm;
    box-shadow: 0px 0px 1px 1px white;
}

/*Cards*/
.project-cards{
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 300px;
    height: 150px;
    margin: 10px;
    perspective: 1000px;
    
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s ease-in-out;
    text-align: center;

    
}

.card:hover .card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
    
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: url(images/project-bg.png);
    background-repeat: no-repeat;
    background-size: 250px;
}

.card-front {
    background-color: rgba(250, 250, 250,0.1);
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
}

.card-back {
    background-color:rgba(250, 250, 250, 0.1);
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
}


.contact-link  {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(12px);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 10px 0px 10px;
    box-shadow: 0px 0px 1px 1px white;
    margin-bottom: 20px;
}

.contact-link p {
    padding-bottom: 10px;
}

/*mobile view*/
@media only screen and (max-width: 1080px) {
    body {
        height: auto;
        background-repeat: repeat-y;
    }

    .introduction {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .info-contact {
        width: 85%;
        padding-bottom: 10px;
    }

    .introduction .description {
        width: 85%;
    }

    .edu-skill {
        margin-top: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .edu-skill .edu,
    .skill {
        width: 85%;
    }

    .edu-skill .project {
        margin-left: 20px;
        width: 85%;
    }

    .contact-link {
        width: 85%;
    }
}
